{% extends 'base/base.html' %}
{% load static %}


{% block main %}

<section class="w3l-hotair-form">
	<!-- <h1>Report Login Form</h1> -->
	<div class="container">
		<!-- /form -->
		<div class="workinghny-form-grid">
			<div class="main-hotair">
				<div class="content-wthree">
					<h2>Forgot Password</h2>
					<form onsubmit="return forgotValidate()" action="{% url 'forgotPassword' %}" method="post"
						id="logform" name="logform">
						<!-- {{error}} -->
						{% include 'include/alerts.html' %}
						{% csrf_token %}
						<div class="form-group">
							<input type="email" id="email" name="email" placeholder="Email" autocomplete="off"
								onkeyup="emailvalidate()">
							<span class="error-msg" id="log-email"> </span><br>
						</div>


						<button class="btn" type="submit">Send Mail</button>
					</form>

					<p class="account">Got Password <a href="{% url 'login' %}">Login</a></p>
				</div>
				<div class="w3l_form align-self">
					<div class="left_grid_info">
						<img src="{% static 'img/banner/d (8).png' %}" alt="" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
	function clearBorder(e) {
		document.getElementById(e).textContent = "";
		document.getElementById(e).style.border = "1px solid white";
		document.getElementById(e).style.color = "white";

	}

	function emailvalidate() {
		var email = document.getElementById('email').value;
		const isEmailValid = (email) => {
			const re =
				/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
			return re.test(email);
		};
		if (email == "") {
			// document.getElementById('email2').innerHTML = "please provide email";
			document.getElementById("log-email").textContent = "***please provide email";
			// document.getElementById("log-email").style.border = "1px solid red";
			document.getElementById("log-email").style.color = "red";
			return false;
		} else if (isEmailValid(email) == false) {
			document.getElementById("log-email").textContent = "***Please provide valid email";
			// document.getElementById("log-email").style.border = "1px solid red";
			document.getElementById("log-email").style.color = "red";
			return false;
		} else {
			clearBorder('log-email')
		}


	}

	function forgotValidate() {
		var email = document.getElementById('email').value;
		var form = document.getElementById('logform');
		const isEmailValid = (email) => {
			const re =
				/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
			return re.test(email);
		};


		if (email == "") {
			// document.getElementById('email2').innerHTML = "please provide email";
			document.getElementById("log-email").textContent = "***please provide email";
			document.getElementById("log-email").style.border = "1px solid red";
			document.getElementById("log-email").style.color = "red";
			return false;
		} else if (isEmailValid(email) == false) {
			document.getElementById("log-email").textContent = "***Please provide valid email";
			document.getElementById("log-email").style.border = "1px solid red";
			document.getElementById("log-email").style.color = "red";
			return false;
		} else {
			// submit forms
			form.submit();
		}
	}
</script>




{% endblock main %}