{% extends 'base/base.html' %}
{% load static %}


{% block main %}

<section class="w3l-hotair-form">
	<!-- <h1>Report Login Form</h1> -->
	<div class="container">
		<!-- /form -->
		<div class="workinghny-form-grid">
			<div class="main-hotair">
				<div class="content-wthree">
					<h2>Log In</h2>
					<!-- <form onsubmit="return validatee()" action="{% url 'login' %}" method="post" id="logform" -->
					<form onsubmit="return validatee()" action="{% url 'login' %}" method="post" id="logform"
						name="logform">
						<!-- {{error}} -->
						{% include 'include/alerts.html' %}
						{% csrf_token %}
						<div class="form-group">
							<input type="email" id="email1" name="email" placeholder="Email" autocomplete="off">
							<span class="error-msg" id="log-email"> </span><br>
						</div>
						<input type="password" class="password" id="password" name="password"
							placeholder="User Password">
						<span class="error-msg" id="log-passwd"> </span><br>

						<button class="btn" type="submit">Log In</button>
					</form>

					<p class="account">Don't have an account? <a href="{% url 'signup' %}">Register</a></p>
				</div>
				<div class="w3l_form align-self">
					<div class="left_grid_info">
						<img src="{% static 'img/log2.jpg' %}" alt="" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
	function validatee() {
		var email = document.getElementById('email1').value;
		var password = document.getElementById('password').value;
		var form = document.getElementById('logform');
		const isEmailValid = (email) => {
			const re =
				/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
			return re.test(email);
		};
		const isPasswordSecure = (password) => {
			const re = new RegExp(
				"^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*])(?=.{8,})"
			);
			return re.test(password);
		};

		if (email == "") {
			// document.getElementById('email2').innerHTML = "please provide email";
			document.getElementById("log-email").textContent = "***please provide email";
			document.getElementById("log-email").style.border = "1px solid red";
			document.getElementById("log-email").style.color = "red";
			return false;
		} else if (password == "") {
			document.getElementById("log-passwd").textContent = "***Please provide password";
			document.getElementById("log-passwd").style.border = "1px solid red";
			document.getElementById("log-passwd").style.color = "red";


			return false;
		} else if (isEmailValid(email) == false) {
			document.getElementById("log-email").textContent = "***Please provide valid email";
			document.getElementById("log-email").style.border = "1px solid red";
			document.getElementById("log-email").style.color = "red";
			return false;
		} else if (isPasswordSecure(password) == false) {
			document.getElementById("log-passwd").textContent = "***Please provide valid password";
			document.getElementById("log-passwd").style.border = "1px solid red";
			document.getElementById("log-passwd").style.color = "red";

			return false;
		} else {
			// submit forms
			form.submit();
		}
	}
</script>




{% endblock main %}