{% extends 'base/base.html' %}
{% load static %}


{% block main %}

<section class="w3l-hotair-form">
	<!-- <h1>Report Login Form</h1> -->
	<div class="container">
		<!-- /form -->
		<div class="workinghny-form-grid">
			<div class="main-hotair">
				<div class="content-wthree">
					<h2>Reset Password</h2>
					<!-- <form onsubmit="return validatee()" action="{% url 'login' %}" method="post" id="logform" -->
					<form onsubmit="return resetValidate()" action="{% url 'resetPassword' %}" method="post"
						id="logform" name="logform">
						<!-- {{error}} -->
						{% include 'include/alerts.html' %}
						{% csrf_token %}
						<div class="form-group">
							<input type="password" class="password" id="passwd" name="password" placeholder="Password"
								onkeyup="passwordValidate()">
							<span class="error-msg" id="log-passwd"> </span><br>
							<input type="password" class="password" id="c_password" name="confirm_password"
								placeholder="Confirm Password" onkeyup="confirmpasswordValidate()">
							<span class="error-msg" id="log-confirm"> </span><br>
						</div>

						<button class="btn" type="submit">Reset Password</button>
					</form>

					<p class="account">Don't have an account? <a href="{% url 'signup' %}">Register</a></p>
				</div>
				<div class="w3l_form align-self">
					<div class="left_grid_info">
						<img src="{% static 'img/banner/d (6).png' %}" alt="" class="img-fluid">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
	function clearBorder(e) {
		document.getElementById(e).textContent = "";
		document.getElementById(e).style.border = "1px solid white";
		document.getElementById(e).style.color = "white";

	}

	function passwordValidate() {

		var password = document.getElementById('passwd').value;
		const isPasswordSecure = (password) => {
			const re = new RegExp(
				"^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*])(?=.{8,})"
			);
			return re.test(password);
		};


		if (password == "") {
			document.getElementById("log-passwd").textContent = "***Please provide password";
			// document.getElementById("log-passwd").style.border = "1px solid red";
			document.getElementById("log-passwd").style.color = "red";
			return false;
		} else if (isPasswordSecure(password) == false) {
			document.getElementById("log-passwd").textContent = "***Please provide valid password";
			// document.getElementById("log-passwd").style.border = "1px solid red";
			document.getElementById("log-passwd").style.color = "red";
			return false;
		} else {
			clearBorder('log-passwd')
		}

	}

	function confirmpasswordValidate() {
		var c_password = document.getElementById('c_password').value;
		var password = document.getElementById('passwd').value;

		if (c_password == "") {
			document.getElementById('log-confirm').textContent = "Please enter your confirm password";
			// document.getElementById('log-confirm').style.border = "1px solid red";
			document.getElementById("log-confirm").style.color = "red";
			return false;
		} else if (password != c_password) {
			document.getElementById('log-confirm').textContent = "Password does not match";
			// document.getElementById('log-confirm').style.border = "1px solid red";
			document.getElementById("log-confirm").style.color = "red";

			return false;
		} else {
			clearBorder('log-confirm')
		}

	}

	function resetValidate() {
		var password = document.getElementById('passwd').value;
		var c_password = document.getElementById('c_password').value;
		var form = document.getElementById('logform');

		const isPasswordSecure = (password) => {
			const re = new RegExp(
				"^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#$%^&*])(?=.{8,})"
			);
			return re.test(password);
		};

		if (password == "") {
			document.getElementById("log-passwd").textContent = "***Please provide password";
			// document.getElementById("log-passwd").style.border = "1px solid red";
			document.getElementById("log-passwd").style.color = "red";
			return false;
		} else if (isPasswordSecure(password) == false) {
			document.getElementById("log-passwd").textContent = "***Please provide valid password";
			// document.getElementById("log-passwd").style.border = "1px solid red";
			document.getElementById("log-passwd").style.color = "red";
			return false;
		} else if (c_password == "") {
			document.getElementById('log-confirm').textContent = "Please enter your confirm password";
			// document.getElementById('log-confirm').style.border = "1px solid red";
			document.getElementById("log-confirm").style.color = "red";
			return false;
		} else if (password != c_password) {
			document.getElementById('log-confirm').textContent = "Password does not match";
			// document.getElementById('log-confirm').style.border = "1px solid red";
			document.getElementById("log-confirm").style.color = "red";

			return false;
		} else {
			// submit forms
			form.submit();
		}
	}
</script>




{% endblock main %}