{% extends 'base/base.html' %}
{% load static %}


{% block main %}

<section class="w3l-hotair-form">
    <!-- <h1>Report Login Form</h1> -->
    <div class="container">
        <!-- /form -->
        <div class="workinghny-form-grid">
            <div class="main-hotair">
                <div class="content-wthree">
                    <h2>Sign Up</h2>
                    <form action="{% url 'signup' %}" method="post">
                        {% csrf_token %}
                        <input type="text" class="text" name="first_name" placeholder="First Name" required autofocus>
                        <input type="text" class="text" name="last_name" placeholder="Last Name" required autofocus>
                        <input type="email" class="text" name="email" placeholder="Mail" required autofocus>
                        <input type="password" class="password" name="password" placeholder="User Password" required
                            autofocus>
                        <input type="password" class="password" name="confirm_password" placeholder="Confirm Password"
                            required autofocus>
                        <input type="tel" class="tel" name="contact" placeholder="Enter Contact Number" required
                            autofocus>
                        <input type="date" class="date" name="dob" placeholder="Date of Birth" required autofocus>
                        <!-- dropdown gender -->
                        <select name="gender" id="" class="text">
                            <option value="" disable>Select Gender</option>
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>

                        </select>
                        <button class="btn" type="submit" name="signup">Log In</button>
                    </form>

                    <p class="account">Already Registered <a href="{% url 'login' %}">Login</a></p>
                </div>
                <div class="w3l_form align-self">
                    <div class="left_grid_info">
                        <img src="{% static 'img/sign.jpg' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
        <!-- //form -->
    </div>
</section>
<!-- //form section start -->

{% endblock main %}