{% load static %}
<header id="header" class="fixed-top">
    <!-- <a href="#" class="logo me-auto"><img src="{% static 'img/logo-new.png' %}" alt="demoooo"></a> -->
    <div class="container d-flex align-items-center justify-content-center">
        <a href="{% url 'patientHome' %}" class="logo me-auto primary"><img src="{% static 'img/logo-new.png' %}"
                alt="demoooo"></a>


        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <h1 class="logo me-auto"><a href="index.html">Medicio</a></h1> -->

        <nav id="navbar" class="navbar order-last order-lg-0">
            <!-- <a href="#" class="logo me-auto"><img src="{% static 'img/logo-new.png' %}" alt="demoooo"></a> -->

            <ul>
                <li><a class="nav-link scrollto " href="{% url 'patientHome' %}">Home</a></li>
                <!-- <li><a class="nav-link scrollto" href="#about">About</a></li> -->
                <li><a class="nav-link scrollto" href="#services">Services</a></li>

                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>

                <li class="dropdown"><a href="#"><span>General</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                        <!-- <li><a href="#">View Appointment</a></li>
                        <li><a href="#">View Lab Reports</a></li>
                        <li><a href="#">View Prescription</a></li> -->
                        <li><a class="#" href="#departments">Departments</a></li>
                        <li><a class="#" href="#doctors">Featured Doctors</a></li>
                        <li><a class="#" href="{% url 'doc_list' %}">View Doctors</a></li>

                    </ul>
                </li>
                <li class="dropdown"><a href="#"><span>Accounts</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>

                        {% if not user.is_authenticated %}

                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'signup' %}">Register</a></li>
                        {% else %}
                        <li><a href="{% url 'patalldetailsupdate' %}">Update Profile</a></li>
                        <li><a href="{% url 'viewpatientappo' %}">View Appointment</a></li>
                        <li><a href="{% url 'viewPatReport' %}">View Lab Reports</a></li>
                        <li><a href="{% url 'viewPresc' %}">View Prescription</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                        <li><a href="{% url 'patientProfile' %}">Dashboard</a></li>
                        {% endif %}


                    </ul>
                </li>



                <!-- <li><a class="nav-link scrollto" href="#contact">Contact</a></li> -->
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
        <a href="{% url 'checkavailability' %}" class="appointment-btn scrollto"><span class="d-none d-md-inline">Make
                an</span>
            Appointment</a>

        <!-- &nbsp;&nbsp;<a href="#" class="appointment-btn scrollto"><span class="d-none d-md-inline">Welcome</span>
            {{request.user.first_name}}</a> -->


        <!-- <a href="#appointment" class="appointment-btn scrollto"><span class="d-none d-md-inline">Register</span></a>
        <a href="#appointment" class="appointment-btn scrollto"><span class="d-none d-md-inline">Login</span></a>
        <a href="#appointment" class="appointment-btn scrollto"><span class="d-none d-md-inline">Logout</span></a> -->



    </div>
</header><!-- End Header -->