{% extends 'doctor/doctorbase.html' %}


{% block dr %}



<div id="customers">
    {% include 'include/alerts.html' %}


    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Date</th>
                <th scope="col">patient Name</th>
                <th scope="col">patient email</th>
                <th scope="col">Time</th>
                <th scope="col">Payment</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {% for d in data %}
            <tr>
                <td>{{d.appo_date}}</td>
                <td>{{d.user_id.first_name}}</td>
                <td>{{d.user_id.email}}</td>
                <td>{{d.appo_time}}</td>
                <td>{{d.payment}}</td>
                <td>{{d.appo_status}}</td>
                <td>
                    <a name="" id="" class="btn btn-info" href="{% url 'viewpatient' d.id %}" role="button">More
                        Details</a>
                </td>

            </tr>

            {% endfor %}

        </tbody>
    </table>


</div>



{% endblock dr %}