{% extends 'doctor/doctorbase.html' %}


{% block dr %}

<div id="table-container">
    {% include 'include/alerts.html' %}


    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Patient Email</th>
                <th scope="col">Date</th>
                <th scope="col">Alergetic drugs</th>
                <th scope="col">Time</th>
                <th scope="col">Symptoms</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for d in lst %}
            <tr>
                <td>{{d.patient_email}}</td>
                <td>{{d.date}}</td>
                <td style="margin:10px;"><textarea name="demo" id="" cols="30" rows="5"
                        disabled>{{d.alergetic_drugs}}</textarea></td>
                <td>{{d.time}}</td>
                <td style="margin:10px;"><textarea name="demo" id="" cols="30" rows="5"
                        disabled>{{d.symptoms}}</textarea></td>
                <!-- <td>{{d.status}}</td> -->

                {% if d.status %}
                <td>Confirmed</td>
                {% else %}
                <td>Not Confirmed</td>
                {% endif %}


            </tr>

            {% endfor %}

        </tbody>
    </table>


</div>

{% endblock dr %}