{% extends ext %}

{% load static %}

{% block dr %}

<!-- for fill leave application -->

<div style="width:50%;margin: 0 0 25% 25%;">

    <form onsubmit="return leavevalidate()" action="{% url 'leaveApply' %}" method="post">
        {% csrf_token %}
        <script type="text/javascript">
            var today = new Date().toISOString().split('T')[0];
            document.getElementsByName("date")[0].setAttribute('min', today);
        </script>

        <div class="form-group">

            <label for="email">Email address</label>

            <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                placeholder="{{request.user.email}}" required disabled>


        </div>

        <div class="form-group">

            <label for="date">Date</label>

            <input type="date" class="form-control" id="date" placeholder="Date" name="date" onkeyup="dateValidate()">
            <span class="error-msg" id="log-date"> </span><br>


        </div>

        <div class="form-group">

            <label for="type">Type</label>

            <select class="form-control" id="type" name="div" onkeyup="typeValidate()">

                <option>FN</option>

                <option>AN</option>

                <option>FD</option>

            </select>
            <span class="error-msg" id="log-type"> </span><br>


        </div>

        <div class="form-group">

            <label for="reason">Reason</label>

            <textarea class="form-control" id="reason" rows="3" name="reason" placeholder="Reason"
                onkeyup="reasonValidate()"></textarea>
            <span class="error-msg" id="log-reason"> </span><br>


        </div>

        <button type="submit" class="btn btn-primary">Submit</button>


    </form>

</div>

<script type="text/javascript">
    function clearBorder(e) {
        document.getElementById(e).textContent = "";
        document.getElementById(e).style.border = "1px solid white";
        document.getElementById(e).style.color = "white";

    }

    function dateValidate() {

        var date = document.getElementById('date').value;
        const isDateValid = (date) => {
            var today = new Date();
            // check entered date is greater than today
            if (new Date(date) > today) {
                return true;
            } else {
                return false;
            }

        }

        if (date == "") {

            document.getElementById('log-date').textContent = "Please enter Date for leave";
            document.getElementById("log-date").style.color = "red";
            return false;

        }
        if (!isDateValid(date)) {
            document.getElementById('log-date').textContent = "Please enter valid Date for leave";
            document.getElementById("log-date").style.color = "red";
            return false;
        } else {
            clearBorder('log-date');
            return true;
        }


    }

    function typeValidate() {

        var type = document.getElementById('type').value;

        if (type == "") {

            document.getElementById('log-type').textContent = "Please enter Type of leave";
            document.getElementById("log-type").style.color = "red";
            return false;

        } else {
            clearBorder('log-type');
            return true;
        }
    }

    function reasonValidate() {

        var reason = document.getElementById('reason').value;

        if (reason == "") {

            document.getElementById('log-reason').textContent = "Please enter Reason for leave";
            document.getElementById("log-reason").style.color = "red";
            return false;

        } else {
            clearBorder('log-reason');
            return true;
        }
    }

    function leavevalidate() {

        var date = document.getElementById('date').value;

        var type = document.getElementById('type').value;

        var reason = document.getElementById('reason').value;

        const isDateValid = (date) => {
            var today = new Date();
            // check entered date is greater than today
            if (new Date(date) > today) {
                return true;
            } else {
                return false;
            }

        }



        if (date == "") {

            document.getElementById('log-date').textContent = "Please enter Date for leave";
            document.getElementById("log-date").style.color = "red";
            return false;

        }

        if (!isDateValid(date)) {
            document.getElementById('log-date').textContent = "Please enter valid Date for leave";
            document.getElementById("log-date").style.color = "red";
            return false;
        }

        if (type == "") {

            document.getElementById('log-type').textContent = "Required";
            document.getElementById("log-type").style.color = "red";
            return false;

        }

        if (reason == "") {

            document.getElementById('log-reason').textContent = "Please enter Reason";
            document.getElementById("log-reason").style.color = "red";
            return false;

        }

        return True;

    }
</script>


{% endblock dr %}