{% extends 'dashboard/dashbase.html' %}


{% block dash %}


<center class="row">
    <h1 style="color: #05081d;">{{spec}} Department Vizualization playground</h1>
</center>
<hr />
<div class="row">
    <div class="col-md-6">
        <canvas id="groupedchart"></canvas>
    </div>
    <div class="col-md-6">
        <canvas id="groupedline"></canvas>
    </div>
</div>
<hr />


<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>

<script>
    var endpoint = 'http://127.0.0.1:8000/dashboard/api/gender';

    $.ajax({
        method: "GET",
        url: endpoint,
        success: function (data) {
            groupedchart(data, 'groupedchart', 'bar');
            groupedchart(data, 'groupedline', 'line');
            console.log("drawing");
        },
        error: function (error_data) {
            console.log(error_data);
        }
    })




    function groupedchart(data, id, typ) {
        var ctx = document.getElementById(id).getContext("2d");

        if (typ == 'bar') {
            var data = {
                labels: Object.keys(data.week[0]),
                datasets: [{
                        label: "Male",
                        backgroundColor: "#b91d47",
                        data: Object.values(data.week[0])
                    },
                    {
                        label: "Female",
                        backgroundColor: "#2b57e7",
                        data: Object.values(data.week[1])
                    }
                ]
            };
        } else {
            var data = {
                labels: Object.keys(data.week[0]),
                datasets: [{
                        label: "Male",
                        borderColor: "#b91d47",
                        data: Object.values(data.week[0])
                    },
                    {
                        label: "Female",
                        borderColor: "#2b57e7",
                        data: Object.values(data.week[1])
                    }
                ]
            };
        }

        var myBarChart = new Chart(ctx, {
            type: typ,
            data: data,
            options: {
                barValueSpacing: 20,
                scales: {
                    yAxes: [{
                        ticks: {
                            fontColor: 'black',
                            fontSize: 12,
                            beginAtZero: true
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Appointment Count',
                            fontColor: 'black',
                            fontSize: 12,
                        }
                    }],
                    xAxes: [{
                        ticks: {
                            fontColor: 'black',
                            fontSize: 12,
                        },
                        scaleLabel: {
                            display: true,
                            labelString: 'Months - 2022',
                            fontColor: 'black',
                            fontSize: 12,
                        }
                    }]
                }
            }
        });
    }
</script>
</body>


{% endblock dash %}