{% extends 'base/base.html' %}
{% load static %}


{% block main %}


<div id="mySidenav" class="sidenav">
    <div class="userpro">


        <img class="" src="{% static 'img/analysis.jpg' %}" alt="doctorimg">

    </div>


    <a href="{% url 'visualdash' %}">Home</a>
    <a href="{% url 'weekday' %}">Weekday/Weekend</a>
    <a href="{% url 'gender' %}">Gender dashboard</a>
    <a href="{% url 'age' %}">Age classification</a>
    <a href="{% url 'disease' %}">Disease count</a>
    <a href="{% url 'riskanalysis' %}">Risk Analysis</a>
    <a href="{% url 'prediction' %}">Prediction</a>
    <a href="{% url 'effectiveness' %}">Efficency</a>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>


</div>

<div id="doctor_main" style="background-image: linear-gradient(rgb(192, 203, 210),rgb(92, 169, 251));height: 100%;">


    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#8801;</span>
    {% block dash %}

    {% endblock dash %}

</div>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("doctor_main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("doctor_main").style.marginLeft = "0";
    }
</script>

{% endblock main %}