{% extends 'base/base.html' %}

{% load static %}

{% block main %}

<section class="w3l-hotair-form">
    <!-- <h1>Report Login Form</h1> -->
    <div class="container">
        <!-- /form -->
        <div class="workinghny-form-grid">
            <div class="main-hotair">
                <div class="content-wthree">
                    <div align="center">
                        <h4>Please fill below details</h4>
                    </div>
                    <form action="{% url 'confirmappointment' %}" method="post">
                        <!-- {{error}} -->
                        {% csrf_token %}
                        <div>
                            <div class="container" style="background-color: #65b0bd; padding:5px; border-radius: 10px;">
                                <h4 align="center" style="color: #fff;">Doctor Details</h4>
                            </div>
                            <div class="form-group">
                                <label for="name">Doctor Name</label>
                                <input type="text" name="doc_name" id="" value="{{request.session.doc_name}}" disabled>
                            </div>
                            <div class="form-group">
                                <label for="name">Doctor Specialization</label>
                                <input type="text" name="spec" id="" value="{{request.session.spec}}" disabled>
                            </div>
                            <div class="form-group">
                                <label for="name">Doctor Designation</label>
                                <input type="text" name="des" id="" value="{{request.session.designation}}" disabled>
                            </div>
                            <div class="form-group">
                                <label for="date">Date</label>
                                <input type="date" name="date" id="" value="{{request.session.date}}" disabled>
                            </div>
                            <div class="form-group">
                                <label for="time">Preferred Time Slot</label>
                                <input type="text" name="time" id="" value="{{request.session.time}}" disabled>
                            </div>
                        </div>
                        <br><br>
                        <div>
                            <div class="container" style="background-color: #65b0bd; padding:5px; border-radius: 10px;">
                                <h4 align="center" style="color: #fff;">Patient Details</h4>
                            </div>
                            <div class="form-group">
                                <label for="is_diabetic">Are you Diabetic?</label>
                                <select name="is_diabetic" id="">
                                    <option value="True">Yes</option>
                                    <option value="False">No</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="is_asthma">Do you have Asthma?</label>
                                <select name="is_asthma" id="">
                                    <option value="True">Yes</option>
                                    <option value="False">No</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="is_hypertension">Do you have Hypertension</label>
                                <select name="is_hypertension" id="">
                                    <option value="True">Yes</option>
                                    <option value="False">No</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="is_stroke">Do you have Strokes</label>
                                <select name="is_stroke" id="">
                                    <option value="True">Yes</option>
                                    <option value="False">No</option>
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="weight">Please enter your weight</label>
                                <input type="number" name="weight" id="" placeholder="In kg">
                            </div>
                            <div class="form-group">
                                <label for="height">please enter your height</label>
                                <input type="number" name="height" id="" placeholder="In cm">
                            </div>
                            <div class="form-group">
                                <label for="is_alcoholic">Are you Alcoholic?</label>
                                <select name="is_alcoholic" id="">
                                    <option value="True">Yes</option>
                                    <option value="False">No</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="symptoms">Do you have any symptoms?</label>
                                <textarea name="symptoms" id="" cols="30" rows="5"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="alergetic_drugs">Is any alergetic drugs</label>
                                <textarea name="alergetic_drugs" id="" cols="30" rows="5"></textarea>
                            </div>
                        </div>
                        <button class="btn" type="submit">Take Appointment</button>
                    </form>


                </div>
                <div class="w3l_form align-self">
                    <div class="left_grid_info">
                        <img src="{% static 'img/banner/d (2).png' %}" alt="" class="img-fluid">
                        <img src="{% static 'img/banner/d (12).png' %}" alt="" class="img-fluid">
                        <img src="{% static 'img/banner/d (14).png' %}" alt="" class="img-fluid">
                        <img src="{% static 'img/banner/d (4).png' %}" alt="" class="img-fluid">
                        <img src="{% static 'img/banner/d (2).gif' %}" alt="" class="img-fluid">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock main %}