{% extends 'base/base.html' %}

{% load static %}


{% block main %}

{% include 'include/navbar.html' %}
<div class="row" style="margin-top:13%;display: grid;margin-bottom: 4%;">


    <section class="w3l-hotair-form">
        <!-- <h1>Report Login Form</h1> -->
        <div class="container">
            <!-- /form -->
            <div class="workinghny-form-grid">
                <div class="main-hotair">
                    <div class="content-wthree">
                        <h2> <span class="doc-verified"><img src="{% static 'img/icon/1.png' %}"
                                    alt=""></span>Appointment Confirmation</h2>
                        <div>

                            <form action="#" style="font-weight: bold;">
                                <div class="form-group">
                                    <label for="">Doctor Name</label>
                                    <input type="text" value="{{request.session.doc_name}}" class="form-control"
                                        placeholder="" id="inputbox">
                                </div>
                                <div class="form-group">
                                    <label for="">Speciality</label>
                                    <input type="text" value="{{request.session.spec}}" class="form-control"
                                        placeholder="" id="inputbox">
                                </div>
                                <div class="form-group">
                                    <label for="">Designation</label>
                                    <input type="text" value="{{request.session.designation}}" class="form-control"
                                        placeholder="" id="inputbox">
                                </div>
                                <div class="form-group">
                                    <label for="">Date</label>
                                    <input type="text" value="{{request.session.date}}" class="form-control"
                                        placeholder="" id="inputbox">
                                </div>
                                <div class="form-group">
                                    <label for="">Time</label>
                                    <input type="text" value="{{request.session.time}}" class="form-control"
                                        placeholder="" id="inputbox">
                                </div>
                            </form>
                        </div>
                        <div class="">
                            <nav id="navbar" class="navbar order-last order-lg-0">
                                <button class="btn btn-primary">
                                    <ul>
                                        <li class="dropdown"><a href="#"><span>Confirm</span> <i
                                                    class="bi bi-chevron-down"></i></a>
                                            <ul>

                                                <li><a class="#" href="{% url 'confirmappointment' %}">Continue with
                                                        offline
                                                        payment</a></li>
                                                <li><a class="#" href="{% url 'patalldetailsupdate' %}">Update Profile
                                                        Details</a>
                                                </li>
                                                <li><a class="#" href="#doctors">View Profile Details</a></li>
                                                <li><a class="#" href="#doctors">Cancel Appointment</a></li>

                                            </ul>
                                        </li>
                                    </ul>
                                </button>
                            </nav>

                        </div>

                    </div>
                    <div class="w3l_form align-self">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Payment summary</h5>
                                <ul class="list-group list-group-flush">
                                    <li id="inputbox" class="list-group-item">Consulting fee : 200/-</li>
                                    <li id="inputbox" class="list-group-item">Tax : 8%</li>
                                    <li id="inputbox" class="list-group-item">Grand total : 216/-</li>
                                </ul><br>
                                <button id="rzp-button1" class="btn btn-primary"><span class="doc-verified"><img
                                            src="{% static 'img/icon/1.png' %}" alt=""></span>Pay with secure</button>
                            </div>
                        </div>
                        <img src="{% static 'img/banner/d (1).png' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
</div>
</section>


</div>



<script type="text/javascript">
    var options = {
        "key": 'rzp_test_19au902WXB3fFT', // Enter the Key ID generated from the Dashboard
        "amount": "{{amount}}", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "miniHospital",
        "description": "Test Transaction",
        "image": "{% static 'img/icon/1.png' %}",
        "order_id": "{{order_id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response) {
            console.log("success")
            // var form = document.getElementById["myform"];s



            var a = response.razorpay_payment_id;


            window.location.href =
                'http://127.0.0.1:8000/confirmappointment?signature=${response.razorpay_signature}&order_id=${response.razorpay_order_id}&cust_id=${response.customer}&payment_id=' +
                a

        },
        "theme": {
            "color": "#3399cc"
        }
    };




    var rzp1 = new Razorpay(options);
    rzp1.on('payment.failed', function (response) {
        alert(response.error.description);
    });
    document.getElementById('rzp-button1').onclick = function (e) {
        console.log("button click");
        rzp1.open();
        e.preventDefault();
    }



    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }
    window.onclick = function (event) {
        if (!event.target.matches('.dropbtn')) {
            var dropdowns = document.getElementsByClassName("dropdown-content");
            var i;
            for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                }
            }
        }
    }
</script>



{% include 'include/footer.html' %}
{% endblock main %}