{% extends 'base/base.html' %}

{% load static %}

{% block main %}

<section class="w3l-hotair-form">
    <div class="container">
        <div class="workinghny-form-grid">
            <div class="main-hotair">
                <div class="content-wthree">
                    <div align="center">
                        <h4>Please fill below details</h4>
                    </div>
                    <form action="{% url 'availability' %}" method="post">
                        {% include 'include/alerts.html' %}
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="Doctor Specialization">Doctor Specialization</label>
                            <select name="specialization" id="">

                                {% for d in doc %}
                                <option value="{{d.spec_name}}">{{d.spec_name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="Time">Time</label>
                            <select name="time" id="">
                                <option value="FN">Forenoon</option>
                                <option value="AN">After Noon</option>
                                <option value="FD">Full Day</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="date">Date</label>
                            <input type="date" class="form-control" name="date" id="date" placeholder="Date" required>
                        </div>

                        <button class="btn" type="submit">Search Availability</button>
                    </form>
                </div>
                <div class="w3l_form align-self">
                    <div class="left_grid_info">
                        <img src="{% static 'img/banner/d (3).gif' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock main %}