{% extends 'base/base.html' %}

{% load static %}


{% block main %}

{% include 'include/navbar.html' %}
<div class="row"
    style="margin-top:13%;display: flex;flex-direction: row;margin-top: 13%;margin-left: 10%;margin-bottom: 4%;">
    {% for d in doc_list %}
    <div class="card " style="width: 26%;margin: 1%;background-color: #8be5f3;">
        <img class="card-img-top" src="{{d.email.usr_img.url}}" alt="Card image cap" style="height: 12rem; width:auto;">
        <div class="card-body">
            <div class="text-center mt-3">
                <span class="doc-verified"><img src="{% static 'img/icon/1.png' %}" alt=""></span>
                <h5 class="mt-2 mb-0">{{d.email.first_name}} {{d.email.last_name}}</h5>
                <span>{{d.spec_name}}</span>
            </div>
        </div>
        <div class="card-body" style="margin-top:20px;display: inline-block !important;">
            <a href="{% url 'singleDoc' d.id %}" class="btn"
                style="background: #13b2cb;color: #fff;border-radius: 4px;">More Details</a>
            <a href="{% url 'availdoc' d.id %}" class="btn"
                style="background: #13b2cb;color: #fff;border-radius: 4px;">Take Appointment</a>
        </div>
    </div>
    {% endfor %}
</div>

{% include 'include/footer.html' %}
{% endblock main %}