{% extends 'base/base.html' %}
{% load static %}
{% block main %}
{% include 'include/navbar.html' %}
<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active" style="background-image: url(static/img/slide/wall1.jpg)">
                <div class="container">
                    <p><i>The good physician treats the disease; the great physician treats the patient who has the
                            disease.</i></p><br>
                    <h3>William Osler
                    </h3>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url(static/img/slide/wall2.jpg)">
                <div class="container">
                    <p><i>As a medical doctor, it is my duty to evaluate the situation with as much data as I can gather
                            and as much expertise as I have and as much experience as I have to determine whether or not
                            the wish of the patient is medically justified. Jack Kevorkian
                        </i>
                    </p>
                    <h3>Jack Kevorkian
                    </h3>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url(static/img/slide/wall4.jpg)">
                <div class="container">
                    <p><i>A physician is not angry at the intemperance of a mad patient, nor does he take it ill to be
                            railed at by a man in fever. Just so should a wise man treat all mankind, as a physician
                            does his patient, and look upon them only as sick and extravagant.
                        </i></p>
                    <!-- <a href="#about" class="btn-get-started scrollto">Read More</a> -->
                    <h3>Lucius Annaeus Seneca
                    </h3>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url(static/img/slide/wall5.jpg)">
                <div class="container">
                    <!-- <h2>Sequi ea ut et est quaerat</h2> -->
                    <p><i>“Medicine is my lawful wife, and literature is my mistress. When I get fed up with one, I
                            spend the night with the other”</i>
                    </p>
                    <h3>Anton Chekhov</h3>
                </div>
            </div>
            <div class="carousel-item" style="background-image: url(static/img/slide/wall8.jpg)">
                <div class="container">
                    <!-- <h2>Sequi ea ut et est quaerat</h2> -->
                    <p><i>Modern medicine is a negation of health. It isn't organized to serve human health, but only
                            itself, as an institution. It makes more people sick than it heals.</i>
                    </p>
                    <h3>Ivan Illich
                    </h3>

                    <!-- <a href="#about" class="btn-get-started scrollto">Read More</a>  Read more at https://www.brainyquote.com/topics/medical-quotes</h3>-- -->
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
            <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
            <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                        <div class="icon"><i class="fas fa-heartbeat"></i></div>
                        <h4 class="title"><a href="">Cardio-Care</a></h4>
                        <p class="description">specific branch of medicine dealing with health of
                            the
                            heart</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
                        <div class="icon"><i class="fas fa-clock-o"></i></div>
                        <h4 class="title"><a href="">24*7</a></h4>
                        <p class="description">We available at anytime</p>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
                        <div class="icon"><i class="fas fa-ambulance"></i></div>
                        <h4 class="title"><a href="">Ambulance</a></h4>
                        <p class="description">We provide ambulance service</p>

                    </div>
                </div>

                <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
                    <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
                        <div class="icon"><i class="fas fa-dna"></i></div>
                        <h4 class="title"><a href="">Research Center</a></h4>
                        <p class="description">We have a Research Center for your betterment</p>

                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Featured Services Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
        <div class="container" data-aos="zoom-in">

            <div class="text-center">
                <h3>In an emergency? Need help now?</h3>
                <p> Emergency medicine is the medical speciality concerned with the care of
                    illnesses or injuries
                    requiring immediate medical attention
                </p>
                <a class="cta-btn scrollto" href="#appointment">Make an Make an Appointment</a>
            </div>

        </div>
    </section><!-- End Cta Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>About Us</h2>
                <p>MEDICARE-HEALTH is a quaternary care hospital network offering end-to-end
                    healthcare services, right
                    from
                    primary to quaternary care in India and Middle-east. MEDICARE-HEALTH has
                    pioneered the quality
                    revolution
                    in the field of healthcare delivery in the country, making quality healthcare
                    affordable and
                    accessible to everyone. Due to our relentless and keen focus on quality
                    healthcare delivery,
                </p>
            </div>

            <div class="row">
                <div class="col-lg-6" data-aos="fade-right">
                    <img src="{% static 'img/about.jpg' %}" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
                    <h3>Why Choose
                        Apollo Healthcare?</h3><br>

                    <ul>
                        <li><i class="bi bi-check-circle"></i> 11000+ Healing Hands.
                        </li>
                        <li><i class="bi bi-check-circle"></i> 4,500+ Pharmacies.
                            velit.</li>
                        <li><i class="bi bi-check-circle"></i> Best Clinical Outcomes.
                            Most Advanced Healthcare Technology
                        </li>
                    </ul>
                    <p>
                        Established by Dr James Hons in 2000, Medicare Healthcare has a robust
                        presence across the
                        healthcare ecosystem. From routine wellness & preventive health care to
                        innovative life-saving
                        treatments and diagnostic services, Apollo Hospitals has touched more than
                        120 million lives
                        from over 120 countries, offering the best clinical outcomes.
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Us Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">
        <div class="container" data-aos="fade-up"><div class="row no-gutters"><div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box"><i class="fas fa-user-md"></i>
                        <span data-purecounter-start="0" data-purecounter-end="85" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p><strong>Doctors</strong> High Qualified Doctors</p>
                        <a href="#">Find out more &raquo;</a></div></div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <i class="far fa-hospital"></i>
                        <span data-purecounter-start="0" data-purecounter-end="26" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p><strong>Departments</strong> Specialized Department</p>
                        <a href="#">Find out more &raquo;</a>
                    </div></div>
                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <i class="fas fa-flask"></i>
                        <span data-purecounter-start="0" data-purecounter-end="14" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p><strong>Research Lab</strong> Advanced Research Lab</p>
                        <a href="#">Find out more &raquo;</a></div></div>
                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch">
                    <div class="count-box">
                        <i class="fas fa-award"></i>
                        <span data-purecounter-start="0" data-purecounter-end="150" data-purecounter-duration="1"
                            class="purecounter"></span>
                        <p><strong>Awards</strong> Awarded for the Best MultiSpeciality Award </p>
                        <a href="#">Find out more &raquo;</a></div></div></div></div>
    </section><!-- End Counts Section -->

    <section id="services" class="services services">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Services</h2>
                <p>Largest network of the world’s finest and brightest medical experts who provide
                    compassionate care
                    using outstanding expertise and advanced technology..</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon"><i class="fas fa-heartbeat"></i></div>
                    <h4 class="title"><a href="">11000+ Healing Hands</a></h4>
                    <p class="description">Largest network of the world’s finest and brightest
                        medical experts who
                        provide compassionate care using outstanding expertise and advanced
                        technology.</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon"><i class="fas fa-pills"></i></div>
                    <h4 class="title"><a href="">4,500+ Pharmacies</a></h4>
                    <p class="description">Largest and most trusted branded pharmacy network, with
                        over 4500 plus
                        outlets covering the entire nation</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon"><i class="fas fa-hospital-user"></i></div>
                    <h4 class="title"><a href="">Specialization</a></h4>
                    <p class="description">Combining the best specialists and equipment to provide
                        you nothing short of
                        the best in healthcare</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon"><i class="fas fa-dna"></i></div>
                    <h4 class="title"><a href="">Research Center</a></h4>
                    <p class="description">Medical research involves research in a wide range of
                        fields, such as
                        biology, chemistry, pharmacology and toxicology with the goal of developing
                        new medicines or
                        medical procedures or improving the application of those already available.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon"><i class="fas fa-clock-o"></i></div>
                    <h4 class="title"><a href="">24*7</a></h4>
                    <p class="description">24/7 customer support means customers can get help and
                        find answers to
                        questions as soon as they come up—24/7 and in real-time</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon"><i class="fas fa-ambulance"></i></div>
                    <h4 class="title"><a href="">Ambulance</a></h4>
                    <p class="description">An ambulance is a medically equipped vehicle which
                        transports patients to
                        treatment facilities, such as hospitals.[1] Typically, out-of-hospital
                        medical care is provided
                        to the patient during the transport.</p>
                </div>
            </div>

        </div>
    </section>
    <section id="departments" class="departments">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Departments</h2>
                <p>Largest network of the world’s finest and brightest medical experts who provide
                    compassionate care
                    using outstanding expertise and advanced technology.</p>
            </div>

            <div class="row" data-aos="fade-up" data-aos-delay="100">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <ul class="nav nav-tabs flex-column">
                        <li class="nav-item">
                            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#tab-1">
                                <h4>Cardiology</h4>
                                <p>Deals With Heart and Blood Vessels</p>
                            </a>
                        </li>
                        <li class="nav-item mt-2">
                            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-2">
                                <h4>Neurology</h4>
                                <p>Treatment of disorders of the nervous system.</p>
                            </a>
                        </li>
                        <li class="nav-item mt-2">
                            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-3">
                                <h4>Orthopedic</h4>
                                <p>specialize in the musculoskeletal system.</p>
                            </a>
                        </li>
                        <li class="nav-item mt-2">
                            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#tab-4">
                                <h4>Pediatrics</h4>
                                <p>Medical care of infants, children, adolescents, and young adults.
                                </p>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-8">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="tab-1">
                            <h3>Cardiology</h3>
                            <p class="fst-italic">specializes in diagnosing and treating diseases of
                                the heart, blood
                                vessels, and circulatory system.</p>
                            <img src="{% static 'img/dept/card1.jpg' %}" alt="" class="img-fluid">
                            <p>Cardiology is a branch of medicine that deals with disorders of the
                                heart and the
                                cardiovascular system. The field includes medical diagnosis and
                                treatment of congenital
                                heart defects, coronary artery disease, heart failure, valvular
                                heart disease and
                                electrophysiology. </p>
                        </div>
                        <div class="tab-pane" id="tab-2">
                            <h3>Neurology</h3>
                            <p class="fst-italic">treatment of disorders of the nervous system.</p>
                            <img src="{% static 'img/dept/neuro.jpg' %}" alt="" class="img-fluid">
                            <p>Neurology is the branch of medicine concerned with the study and
                                treatment of disorders
                                of the nervous system. The nervous system is a complex,
                                sophisticated system that
                                regulates and coordinates body activities.</p>
                        </div>
                        <div class="tab-pane" id="tab-3">
                            <h3>Orthopedic</h3>
                            <p class="fst-italic">bones, joints, ligaments, tendons, and muscles
                                that are so essential
                                to movement and everyday life.</p>
                            <img src="{% static 'img/dept/ortho.jpg' %}" alt="" class="img-fluid">
                            <p>A person who specializes in orthopedics is known as an orthopedist.
                                Orthopedists use
                                surgical and nonsurgical approaches to treat musculoskeletal issues,
                                such as sports
                                injuries, joint pain, and back problems.</p>
                        </div>
                        <div class="tab-pane" id="tab-4">
                            <h3>Pediatrics</h3>
                            <p class="fst-italic">Pediatricians have specialized training in the
                                physical, emotional,
                                and behavioral needs of children.</p>
                            <img src="{% static 'img/dept/pedi.jpg' %}" alt="" class="img-fluid">
                            <p>A pediatrician is a medical doctor who manages the physical,
                                behavioral, and mental care
                                for children from birth until age 18. A pediatrician is trained to
                                diagnose and treat a
                                broad range of childhood illnesses, from minor health problems to
                                serious diseases.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <section id="doctors" class="doctors section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Featured Doctors</h2>
                <p>Hospital doctors treat those who have been admitted or referred to hospital.
                    Specific
                    responsibilities vary greatly depending on the area of specialism,</p>
            </div>

            <div class="row">

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="100">
                        <div class="member-img">
                            <img src="{% static 'img/doctors/doctors-1.jpg' %}" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Walter White</h4>
                            <span>Chief Medical Officer</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="200">
                        <div class="member-img">
                            <img src="{% static 'img/doctors/doctors-2.jpg' %}" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Sarah Jhonson</h4>
                            <span>Anesthesiologist</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="300">
                        <div class="member-img">
                            <img src="{% static 'img/doctors/doctors-3.jpg' %}" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>William Anderson</h4>
                            <span>Cardiology</span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
                    <div class="member" data-aos="fade-up" data-aos-delay="400">
                        <div class="member-img">
                            <img src="{% static 'img/doctors/doctors-4.jpg' %}" class="img-fluid" alt="">
                            <div class="social">
                                <a href=""><i class="bi bi-twitter"></i></a>
                                <a href=""><i class="bi bi-facebook"></i></a>
                                <a href=""><i class="bi bi-instagram"></i></a>
                                <a href=""><i class="bi bi-linkedin"></i></a>
                            </div>
                        </div>
                        <div class="member-info">
                            <h4>Amanda Jepson</h4>
                            <span>Neurosurgeon</span>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Doctors Section -->



    <!-- ======= Frequently Asked Questioins Section ======= -->
    <!-- <section id="faq" class="faq section-bg">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Frequently Asked Questioins</h2>
                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint
                    consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia
                    fugiat sit
                    in iste officiis commodi quidem hic quas.</p>
            </div>

            <ul class="faq-list">

                <li>
                    <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Non consectetur a erat nam at
                        lectus
                        urna duis? <i class="bi bi-chevron-down icon-show"></i><i
                            class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non
                            curabitur gravida.
                            Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Feugiat scelerisque varius
                        morbi enim
                        nunc faucibus a pellentesque? <i class="bi bi-chevron-down icon-show"></i><i
                            class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit
                            laoreet id donec
                            ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque
                            elit
                            ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Dolor sit amet consectetur
                        adipiscing
                        elit pellentesque habitant morbi? <i class="bi bi-chevron-down icon-show"></i><i
                            class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar
                            elementum
                            integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu
                            tincidunt.
                            Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed
                            odio morbi quis
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Ac odio tempor orci dapibus.
                        Aliquam
                        eleifend mi in nulla? <i class="bi bi-chevron-down icon-show"></i><i
                            class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit
                            laoreet id donec
                            ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque
                            elit
                            ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq5" class="collapsed question">Tempus quam pellentesque nec
                        nam
                        aliquam sem et tortor consequat? <i class="bi bi-chevron-down icon-show"></i><i
                            class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq5" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Molestie a iaculis at erat pellentesque adipiscing commodo. Dignissim suspendisse in est
                            ante in. Nunc vel
                            risus commodo viverra maecenas accumsan. Sit amet nisl suscipit adipiscing bibendum est.
                            Purus gravida
                            quis blandit turpis cursus in
                        </p>
                    </div>
                </li>

                <li>
                    <div data-bs-toggle="collapse" href="#faq6" class="collapsed question">Tortor vitae purus faucibus
                        ornare.
                        Varius vel pharetra vel turpis nunc eget lorem dolor? <i
                            class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                    <div id="faq6" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Laoreet sit amet cursus sit amet dictum sit amet justo. Mauris vitae ultricies leo integer
                            malesuada nunc
                            vel. Tincidunt eget nullam non nisi est sit amet. Turpis nunc eget lorem dolor sed. Ut
                            venenatis tellus in
                            metus vulputate eu scelerisque. Pellentesque diam volutpat commodo sed egestas egestas
                            fringilla phasellus
                            faucibus. Nibh tellus molestie nunc non blandit massa enim nec.
                        </p>
                    </div>
                </li>

            </ul>

        </div> -->
    <!-- </section> -->
    <!-- End Frequently Asked Questioins Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <h2>Contact</h2>
                <p>Medicare Hospitals is always looking to make things easier for you. Our aim is to
                    provide our
                    customers
                    with the best medical facilities, constant care, and reliable support. If you
                    would like to get in
                    touch with a doctor from a specific department, would like some specific
                    information about the
                    services we provide, or just have a question for us, please fill up the Form
                    given below and we will
                    get back to you.</p>
            </div>

        </div>



        <div class="container">

            <div class="row mt-5">

                <div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="info-box">
                                <i class="bx bx-map"></i>
                                <h3>Our Address</h3>
                                <p>Medicare Reasearch Center
                                    A108 Adam Street, New York, NY 535022</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box mt-4">
                                <i class="bx bx-envelope"></i>
                                <h3>Email Us</h3>
                                <p>medicare@gmail.com<br>contact@medicare.in</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="info-box mt-4">
                                <i class="bx bx-phone-call"></i>
                                <h3>Call Us</h3>
                                <p>+1 5589 55488 55<br>+1 6678 254445 41</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div>
                    <form action="forms/appointment.php" method="post" role="form" class="php-email-form"
                        data-aos="fade-up" data-aos-delay="100">
                        <div class="row">
                            <div class="col-md-4 form-group">
                                <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                                    required>
                            </div>
                            <div class="col-md-4 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email"
                                    placeholder="Your Email" required>
                            </div>
                            <div class="col-md-4 form-group mt-3 mt-md-0">
                                <input type="tel" class="form-control" name="phone" id="phone" placeholder="Your Phone"
                                    required>
                            </div>
                        </div>


                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="5"
                                placeholder="Message (Optional)"></textarea>
                        </div>
                        <div class="my-3">
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your appointment request has been sent
                                successfully. Thank you!
                            </div>
                        </div>
                        <div class="text-center"><button type="submit">Get in Touch</button></div>
                    </form>
                </div>


            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->
{% include 'include/footer.html' %}

{% endblock main %}