{% extends 'base/base.html' %}
{% load static %}


{% block main %}


<div id="mySidenav" class="sidenav">
    <div class="userpro">

        {% if usr.usr_img.url %}
        <img class="dr-img" src="{{usr.usr_img.url}}" alt="doctorimg">
        {% else %}
        <img class="dr-img" src="{% static 'img/avt/man.png' %}" alt="doctorimg">
        {% endif %}


        <!-- <p>{{user.first_name}} {{user.last_name}}</p> -->
    </div>


    <a href="{% url 'patientProfile' %}">Profile</a>
    <a href="{% url 'patalldetailsupdate' %}">Update Profile</a>
    <a href="{% url 'change_password' %}">Change Password</a>
    <a href="{% url 'viewpatientappo' %}">View Appointments</a>
    <a href="{% url 'checkavailability' %}">Take Appointment</a>
    <a href="#">View Prescription</a>
    <a href="{% url 'logout' %}">Logout</a>
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>


</div>

<div id="doctor_main">
    <div class="j">
        <h4 class="" style="float: left;">Patient Dashboard</h4>
        <h4 style="float: right;">Welcome Back, &nbsp; <i>{{request.user.first_name}} {{request.user.last_name}}</i>
        </h4>

    </div>

    <!-- <p>Click on the element below to open the side navigation menu, and push this content to the right.</p> -->

    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#8801;</span>
    {% block pt %}

    {% endblock pt %}

</div>

<script>
    function openNav() {
        document.getElementById("mySidenav").style.width = "250px";
        document.getElementById("doctor_main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidenav").style.width = "0";
        document.getElementById("doctor_main").style.marginLeft = "0";
    }
</script>

{% endblock main %}